
.google button {
    display: flex;
    margin:20px auto;
    align-items: center;
    border: none;
    padding: 10px 100px;
    background-color: #EFEFEF;
    border-radius: 50px;
}
.google button img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.or{
    display: flex;
    align-items: center;
}
.left,.right{
    height: 2px;
    display: block;
    background-color: rgb(203, 220, 220);
}