.banner{
    width: 100%;
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.overly{
    background-color: rgba(0, 255, 255, 0.244);
    width: 100%;
    height: 90vh;
    position: absolute;
    z-index: 2;
}
.text{
    margin-top: 15px;
    color: rgb(255, 255, 255);
}
.all-service-btn{
    border: none;
    padding: 10px 50px;
    border-radius: 50px;
    color: rgb(100, 98, 68);
    margin-top: 50px;
    border: 2px solid rgb(190, 182, 182);
    background: rgba(218, 233, 233, 0.5);
    transition: all .5s;
}
.all-service-btn:hover{
    color: white;
    background-color: rgba(73, 167, 167, 0.605);
    border: 2px solid rgb(41, 174, 192);
}